.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1.1fr 1.1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 1.4fr 1.4fr;
  grid-template-areas:
    "sidebar main main main"
    "sidebar main main main"
    "sidebar grid-item1 grid-item1 grid-item1"
    "sidebar grid-item2 grid-item2 grid-item2";
  background-color: #0069cc;
  padding: 10px;
}

#lineup {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1.1fr 1.1fr 1fr;
  grid-template-rows: 1.1fr 1.2fr 1.4fr 1.4fr;
  grid-template-areas:
    "sidebarLeft content content content"
    "sidebarLeft content content content"
    "sidebarLeft content content content"
    "sidebarLeft content content content";
  background-color: #0069cc;
  padding: 10px;
}

.sidebarLeft {
  grid-area: sidebarLeft;
  background: #0069cc;
  border: 2px solid #dda448;
  border-radius: 10px;
}

.lineupContent {
  grid-area: content;
  background: #fcfff7;
  border-radius: 10px;
  display: flex;
  float: right;
  grid-area: content;
  margin-left: 5px;
}

/* HEADER AND SEARCH BAR */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fcfff7;
}

header > a {
  text-decoration: none;
  background-color: #fcfff7;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

.header input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-family: "OSWALD";
}

/* Nav Bar Stuff */
/* Add a black background color to the top navigation */
.navBar {
  background-color: #0069cc;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  color: #fcfff7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Oswald";
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: #dda448;
  color: black;
}

.navBar ul {
  align-content: flex-start;
  display: flex;
  list-style-type: none;
}

/* Main Body */

.mainTop {
  background: #dda448;
  grid-area: main;
  border: 5px solid #0069cc;
  text-align: center;
  font-family: oswald;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

/* SCOREBOARD */

#sidebar {
  background: #0069cc;
  grid-area: sidebar;
  text-align: center;
  margin-top: 10px;
  margin-right: 5px;
  border: 3px solid #fcfff7;
  border-radius: 10px;
  color: #dda448;
  font-family: oswald;
}

/* GRID CONTENT AREA */

#homeTeam {
  grid-area: grid-item1;
  background: #0069cc;
  color: #dda448;
  font-family: oswald;
  padding: 5px;
  text-align: center;
}

/* #homeTeam:hover {
  border: 3px solid #b82200;
} */

#awayTeam {
  grid-area: grid-item2;
  background: #0069cc;
  color: #dda448;
  font-family: oswald;
  padding: 5px;
  text-align: center;
}

/* #awayTeam:hover {
  border: 3px solid #b82200;
} */

#grid-item3 {
  grid-area: grid-item3;
  background: #0069cc;
}

#grid-item3:hover {
  border: 3px solid #dda448;
}

#grid-item4 {
  grid-area: grid-item4;
  background: #0069cc;
}
#grid-item4:hover {
  border: 3px solid #dda448;
}

#grid-item5 {
  grid-area: grid-item5;
  background: #0069cc;
}
#grid-item5:hover {
  border: 3px solid #dda448;
}
#grid-item6 {
  grid-area: grid-item6;
  background: #0069cc;
}
#grid-item6:hover {
  border: 3px solid #dda448;
}

/* FOOTER STUFF */

footer {
  grid-area: footer;
  background: #0069cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: oswald;
  border-top: 10px solid #dda448;
  color: #fcfff7;
}

a {
  color: #dda448;
}

/* MEDIA MOBILE CONTENT */
@media (min-width: 550px) {
  nav > .a {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .nav a,
  .nav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .nav input[type="text"] {
    border: 1px solid #ccc;
  }
  .hidden--mobile {
    display: none !important;
  }
  #sidebar {
    display: none !important;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "main"
      "homeTeam"
      "homeTeam"
      "homeTeam"
      "AwayTeam"
      "AwayTeam"
      "AwayTeam";
  }
}

/* LINE UP TWEET PAGE */
